@import "../base/variables";
@import "../base/mixins";

.table-container {
  position: relative;
  border-radius: 0.3rem;
  padding: 1px;
  background: linear-gradient(-180deg, $border-line-clr 0%, $background 70%);

  &::before {
    position: absolute;
    inset: 1px;
    border-radius: inherit;
  }
}

.table-header,
.table-data {
  display: grid;
  grid-template-columns: 40px 1fr 130px 1fr 1fr 180px 40px;
}

.table-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 300px;
  border-radius: 0 0 0.3rem 0.3rem;
  background: linear-gradient(-180deg, $table-content-bg 0%, $background 100%);
}

.table-header {
  justify-items: start;
  color: $foreground;
  background-color: $table-header-bg;
  border-radius: 0.3rem 0.3rem 0 0;
  border-bottom: 1px solid $border-line-clr;
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.table-data {
  align-items: center;
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-bottom: 1px solid $border-line-clr;

  .action-button {
    padding: 0;
    justify-self: end;
  }

  .user-column-container {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    .user-info {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    .user-photo-container {
      @include user-photo-container(55px);
    }
  }
}

.loader,
.empty {
  grid-column: span 6;
  align-self: center;
  justify-self: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.end-message {
  padding: 1rem 0;
}

.pagination {
  display: flex;
  place-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
