@import "../base/variables";

.button-container {
  align-self: flex-end;
}

.primary-button {
  background-color: $primary-color;
}

.secondary-button {
  background-color: $table-header-bg;
  color: $foreground;
}

.icon-button {
  display: flex;
  place-items: center;
  padding: 8px;
}

.icon-circle {
  border: 1px solid $border-line-clr;
  padding: 10px;
  border-radius: 0.5rem;
}

.back-button {
  place-items: center;
  background: transparent;
  padding: 0;
  margin-right: 7px;

  svg {
    margin-top: 3px;
  }
}
