/* colors */
$foreground: #f2f5fa;
$background: #0e0e0e;
$table-header-bg: #1c1d1d;
$table-content-bg: #0c0c0c;
$border-line-clr: #363636;
$primary-color: #9843dd;
$secondary-color: #274f7d;
$error-color: #bf3636;

/* transitions */
$ease-trans: cubic-bezier(0.47, -0.01, 0.38, 1);
$ease-in-out-trans: cubic-bezier(0.74, 0, 0.33, 1);
