$foreground: #f2f5fa;
$background: #0e0e0e;
$table-header-bg: #1c1d1d;
$table-content-bg: #0c0c0c;
$border-line-clr: #363636;
$primary-color: #9843dd;
$ease-trans: cubic-bezier(0.47, -0.01, 0.38, 1);
