/* colors */
/* transitions */
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-label {
  display: flex;
  place-items: center;
  gap: 0.2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.sub-title {
  text-transform: uppercase;
  font-size: 1rem;
}

/* colors */
/* transitions */
/* colors */
/* transitions */
.flex {
  display: flex;
  gap: 0.5rem;
}

/* colors */
/* transitions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f5fa;
  font-family: "Schibsted Grotesk", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  padding: 0;
  background-color: #0e0e0e;
  margin: 3rem 25rem;
  font-size: 14px;
}
@media screen and (max-width: 2000px) {
  body {
    margin: 3rem 10rem !important;
  }
}
@media screen and (max-width: 1600px) {
  body {
    margin: 3rem 6rem !important;
  }
}

button {
  outline: none;
  border: none;
  padding: 0 0.8rem;
  height: 35px;
  border-radius: 0.3rem;
  cursor: pointer;
  background: transparent;
  transition: 250ms cubic-bezier(0.47, -0.01, 0.38, 1);
}
button:hover {
  opacity: 0.85;
}

input,
select,
option,
textarea {
  outline: none;
  background-color: transparent;
  border: 1px solid #363636;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
}

textarea {
  resize: none;
  min-height: 70px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* colors */
/* transitions */
.form-input {
  display: grid;
  grid-template-columns: minmax(100px, 140px) 1fr;
  align-items: start;
  transition: 250ms cubic-bezier(0.47, -0.01, 0.38, 1);
}

.invalid-input {
  border-color: #bf3636 !important;
  transition: 250ms cubic-bezier(0.47, -0.01, 0.38, 1);
}

.password-input {
  display: grid;
  grid-template-columns: 90% 1fr;
  border: 1px solid #363636;
  border-radius: 0.3rem;
}
.password-input input {
  border: none;
}
.password-input .password-input-eye {
  display: flex;
  place-items: center;
  background: transparent;
  padding: 5px;
}

.form-container {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 350px;
  transition: 500ms cubic-bezier(0.74, 0, 0.33, 1);
}
.form-container form {
  width: 100%;
  left: 0;
  transition: 550ms cubic-bezier(0.47, -0.01, 0.38, 1);
}
.form-container #per_info_form {
  position: absolute;
  opacity: 0;
  left: 100%;
}
.form-container #per_info_form .icon-label {
  gap: 0.4rem;
}

.user-photo-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid #363636;
  border-radius: 0.3rem;
  padding: 1rem 0;
}
.user-photo-wrapper p {
  text-align: center;
  font-size: 0.8rem;
}
.user-photo-wrapper .upload-button {
  border-radius: 50%;
  background-color: #363636;
  transition: 300ms cubic-bezier(0.47, -0.01, 0.38, 1);
}
.user-photo-wrapper:hover .upload-button {
  transform: scale(1.1);
}

.user-photo-container {
  display: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* colors */
/* transitions */
.popup-wrapper {
  position: fixed;
  display: none;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  transition: 200ms cubic-bezier(0.47, -0.01, 0.38, 1);
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 550px;
  padding: 1rem;
  background-color: #0e0e0e;
  border: 1px solid #363636;
  border-radius: 0.5rem;
  transition: 200ms cubic-bezier(0.47, -0.01, 0.38, 1);
  transform: scale(0.95);
}

/* colors */
/* transitions */
/* colors */
/* transitions */
.flex {
  display: flex;
  gap: 0.5rem;
}

.table-container {
  position: relative;
  border-radius: 0.3rem;
  padding: 1px;
  background: linear-gradient(-180deg, #363636 0%, #0e0e0e 90%);
}
.table-container::before {
  position: absolute;
  inset: 1px;
  border-radius: inherit;
}

.table-header,
.table-data {
  display: grid;
  grid-template-columns: 40px 1fr 100px 1fr 1fr 130px 40px;
  gap: 1rem;
}

.table-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 300px;
  border-radius: 0 0 0.3rem 0.3rem;
  background: linear-gradient(-180deg, #0c0c0c 0%, #0e0e0e 100%);
}

.table-header {
  justify-items: start;
  color: #f2f5fa;
  background-color: #1c1d1d;
  border-radius: 0.3rem 0.3rem 0 0;
  border-bottom: 1px solid #363636;
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.table-data {
  align-items: center;
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-bottom: 1px solid #363636;
}
.table-data .action-button {
  padding: 0;
  justify-self: end;
}
.table-data .user-column-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.table-data .user-column-container .user-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.table-data .user-column-container .user-info h3 {
  text-wrap: balance;
}
.table-data .user-column-container .user-photo-container {
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.loader,
.empty {
  grid-column: span 6;
  align-self: center;
  justify-self: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.end-message {
  padding: 1rem 0;
}

.pagination {
  display: flex;
  place-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

/* colors */
/* transitions */
.button-container {
  align-self: flex-end;
}

.primary-button {
  background-color: #9843dd;
}

.secondary-button {
  background-color: #1c1d1d;
  color: #f2f5fa;
}

.icon-button {
  display: flex;
  place-items: center;
  padding: 8px;
}

.icon-circle {
  border: 1px solid #363636;
  padding: 10px;
  border-radius: 0.5rem;
}

.back-button {
  height: 100%;
  width: fit-content;
  place-items: center;
  background: transparent;
  padding: 0;
}
.back-button svg {
  margin-top: 3px;
}

/* colors */
/* transitions */
.line {
  height: 1px;
  width: 100%;
  background-color: #363636;
}

.vertical-line {
  height: 25px;
  width: 1px;
  background-color: #363636;
}

/*# sourceMappingURL=global.css.map */
